/*@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
     color: #7342d6;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

.section__h4 {
    font-size: 16px;
    font-weight: 700;
    color: #6415ff;
    letter-spacing: 1.6px;
}

.section__h1 {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    max-width: 576px;
    color: #7c8ba1;
    line-height: 1.625;
}




/*NAV*/




nav {
    padding-top: 32px;
    display: flex;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 40px;
    height: 40px;
}

.nav__title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;  
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__links--row {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .35px;
    border-bottom: 2px solid transparent;
    transition: all 300ms; 
}

.nav__link--primary {
    width: auto;
    
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    background-color: #6415ff;
    color: #fff;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 40px;
    transition: all 300ms;
}

.nav__link:hover {
    text-decoration: underline;
    color: #6415ff;
}

.nav__link--primary:hover {
    background-color: rgba(80, 17, 204);
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}



/*HEADER*/




header {
    display: flex;
    justify-content: space-between;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__description {
    width: calc(100% - 60%);
}

.header__img {
    width: 40%;
    display: flex;
    justify-content: center;
}

.header__description--header {
    font-size: 40px;
    color: #1a202c;
}

p {
    margin: 32px 0;
}

img {
    width: 100%;
}

.header__customers {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.img__customers--logos {
    margin-top: 16px;
    opacity: 0.5;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: border-color 300ms;
    z-index: 1;
}

.header__email--input:hover {
    border-color: rgb(160, 174, 192);
}

.btn__email--input {
    height: calc(100% - 16px);
    width: 160px;
    margin: 8px;
    border: none;
    border-radius: 500px;
    background-color: #6415ff;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    transition: all 300ms;
    z-index: 2;
}

.btn__email--input:hover {
    background-color: rgb(60, 13, 153);
}




/*FEATURES*/




.features__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

#features .section__para {
    text-align: center;
}

.feature__img {
    height: 24px;
    width: 24px;
}

.img__wrapper {
    display: flex;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
    padding: 20px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}




/*QUALITY*/




.quality__text {
    width: 50%;
}

.quality__btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
}

.quality__btn:hover {
    background-color: rgb(60, 13, 153);
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    margin: 0 56px;
    width: 50%;
    display: flex;
    align-items: center;
}




/*STEPS*/






.steps__img--wrapper {
    width: 50%;
}

.steps__text {
    width: 50%;
    padding: 32px 0;
    padding-left: 64px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}



/*VALUES*/



.values__text {
    width: 50%;
}

.values__img--wrapper {
    width: 50%;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

.values__list {
    display: flex;
}

.value {
    margin-top: 32px;
    margin-right: 32px;
}

.value__title {
    display: flex;

}

.value__img {
    width: 20px;
    height: 20px;
}

.value__img--wrapper {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}

.values__btn {
    margin-top: 48px;
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
}

.values__btn:hover {
    background-color: rgb(60, 13, 153);
}



/*PRICING*/



#pricing .section__para {
    text-align: center;
}

.pricing__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__plans {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.plan {
    width: 100%;
    max-width: 384px;
    margin: 64px 32px 0 0;
    padding-top: 8px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: relative;
    z-index: 100;
    background: #fff;
}

.plan__price, .plan__info, .plan__btn {
    padding: 32px;
    text-align: center;
}

.plan__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) .plan__stripe {
    visibility: hidden;
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}


.plan__name {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.625;
    color: #1a202c;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
    font-weight: bold;
    line-height: 1.625;
    color: #1a202c;
}

.plan__length {
    color: #a0aec0;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1.625;
}

.plan:nth-child(odd) .plan__info {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan:nth-child(2) .plan__info {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan__audience {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan:nth-child(odd) .plan__audience {
    color: #1a202c;
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, .plan:nth-child(2) .plan__audience, .plan:nth-child(2) .plan__length, .plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}
