/*@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0 32px;
}

main {
    margin-bottom: 96px;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
     color: #7342d6;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

.section__h4 {
    font-size: 16px;
    font-weight: 700;
    color: #6415ff;
    letter-spacing: 1.6px;
}

.section__h1 {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    max-width: 576px;
    color: #7c8ba1;
    line-height: 1.625;
}




/*NAV*/




nav {
    padding-top: 32px;
    display: flex;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 40px;
    height: 40px;
}

.nav__title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;  
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__links--row {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .35px;
    border-bottom: 2px solid transparent;
    transition: all 300ms; 
}

.nav__link--primary {
    width: auto;
    
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    background-color: #6415ff;
    color: #fff;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 40px;
    transition: all 300ms;
}

.nav__link:hover {
    text-decoration: underline;
    color: #6415ff;
}

.nav__link--primary:hover {
    background-color: rgba(80, 17, 204);
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}


.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}



/*HEADER*/




header {
    display: flex;
    justify-content: space-between;
    position: relative;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__description {
    width: calc(100% - 60%);
}

.header__img {
    width: 40%;
    display: flex;
    justify-content: center;
}

.header__description--header {
    font-size: 40px;
    color: #1a202c;
}

p {
    margin: 32px 0;
}

img {
    width: 100%;
}

.header__customers {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.img__customers--logos {
    margin-top: 16px;
    opacity: 0.5;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: border-color 300ms;
    z-index: 1;
}

.header__email--input:hover {
    border-color: rgb(160, 174, 192);
}

.btn__email--input {
    height: calc(100% - 16px);
    width: 160px;
    margin: 8px;
    border: none;
    border-radius: 500px;
    background-color: #6415ff;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    transition: all 300ms;
    z-index: 2;
}

.btn__email--input:hover {
    background-color: rgb(60, 13, 153);
}

.header__blob {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.05;
    width: 256px;
    height: 256px;
    transform: matrix(1, 0, 0, 1, -163, 0);
}

svg[Attributes Style] {
    width: 600;
    height: 600;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}




/*FEATURES*/




#features {
    position: relative;
}

.features__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

#features .section__para {
    text-align: center;
}

.feature__img {
    height: 24px;
    width: 24px;
}

.img__wrapper {
    display: flex;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
    padding: 20px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

.features__blob {
    transform: translateX(96px) translateY(192px) scaleX(1) scaleY(1);
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 16rem;
    opacity: 0.25;
    padding: 16px;
}

g[Attributes Style] {
    transform: translate(300, 300);
}

:not(svg) {
    transform-origin: 0px 0px;
}

path[Attributes Style] {
    d: path("M 125 -160.4 C 159.9 -146.7 184.6 -107.3 178.8 -70.9 C 173.1 -34.4 137 -0.8 128.8 47.3 C 120.7 95.5 140.6 158.2 123.8 198.4 C 107 238.6 53.5 256.3 5.4 248.9 C -42.7 241.5 -85.4 208.9 -112.7 172.1 C -140 135.3 -151.8 94.2 -146.3 59.7 C -140.8 25.1 -117.9 -2.9 -104 -30.1 C -90.1 -57.3 -85 -83.7 -69.1 -103.5 C -53.3 -123.4 -26.6 -136.7 9.2 -149.4 C 45.1 -162 90.1 -174 125 -160.4 Z");
    fill: rgb(255, 180, 188);
}



/*QUALITY*/




.quality__text {
    width: 50%;
}

.quality__btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
}

.quality__btn:hover {
    background-color: rgb(60, 13, 153);
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    margin: 0 56px;
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.quality__img {
    z-index: 2;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

path[Attributes Style] {
    d: path("M 55 33.5 C 44.5 37 35 47.6 32.8 58.3 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 183 33.5 c -15.1 5 -25.3 21.6 -22.2 36.2 c 2.5 11.9 13.6 23 25.4 25.5 c 19.4 4.1 39.5 -14.2 37.5 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 311 33.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 439 33.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 567 33.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 695 33.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 823 33.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 951 33.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1079 33.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -2.5 11.7 3.2 24.4 14.2 31.9 c 10.7 7.4 22.9 7.5 33.7 0.3 c 17.7 -11.8 20.1 -33.8 5.3 -48.5 c -8.5 -8.6 -20.7 -11.9 -31 -8.5 Z M 1207 33.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -2.5 11.7 3.2 24.4 14.2 31.9 c 10.7 7.4 22.9 7.5 33.7 0.3 c 17.7 -11.8 20.1 -33.8 5.3 -48.5 c -8.5 -8.6 -20.7 -11.9 -31 -8.5 Z M 55 161.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 183 161.5 c -15.1 5 -25.3 21.6 -22.2 36.2 c 2.5 11.9 13.6 23 25.4 25.5 c 19.4 4.1 39.5 -14.2 37.5 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 311 161.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 439 161.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 567 161.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 695 161.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 823 161.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 951 161.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1079 161.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -2.5 11.7 3.2 24.4 14.2 31.9 c 10.7 7.4 22.9 7.5 33.7 0.3 c 17.7 -11.8 20.1 -33.8 5.3 -48.5 c -8.5 -8.6 -20.7 -11.9 -31 -8.5 Z M 1207 161.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -2.5 11.7 3.2 24.4 14.2 31.9 c 10.7 7.4 22.9 7.5 33.7 0.3 c 17.7 -11.8 20.1 -33.8 5.3 -48.5 c -8.5 -8.6 -20.7 -11.9 -31 -8.5 Z M 55 289.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 183 289.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 311 289.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 439 289.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 567 289.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 695 289.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 823 289.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 951 289.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1079 289.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1207 289.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 55 417.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 183 417.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 311 417.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 439 417.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 567 417.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 695 417.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 823 417.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 951 417.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1079 417.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1207 417.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 55 545.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 183 545.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 311 545.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 439 545.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 567 545.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 695 545.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 823 545.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 951 545.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1079 545.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1207 545.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 55 673.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 183 673.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 311 673.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 439 673.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 567 673.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 695 673.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 823 673.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 951 673.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1079 673.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1207 673.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 55 801.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 183 801.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 311 801.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -2.5 11.7 3.2 24.4 14.2 31.9 c 10.7 7.4 22.9 7.5 33.7 0.3 c 17.7 -11.8 20.1 -33.8 5.3 -48.5 c -8.5 -8.6 -20.7 -11.9 -31 -8.5 Z M 439 801.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -2.5 11.7 3.2 24.4 14.2 31.9 c 10.7 7.4 22.9 7.5 33.7 0.3 c 17.7 -11.8 20.1 -33.8 5.3 -48.5 c -8.5 -8.6 -20.7 -11.9 -31 -8.5 Z M 567 801.5 c -15.1 5 -25.3 21.6 -22.2 36.2 c 2.5 11.9 13.6 23 25.5 25.5 c 19.3 4.1 39.4 -14.2 37.4 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 695 801.5 c -15.1 5 -25.3 21.6 -22.2 36.2 c 2.5 11.9 13.6 23 25.5 25.5 c 19.3 4.1 39.4 -14.2 37.4 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 823 801.5 c -15.1 5 -25.3 21.6 -22.2 36.2 c 2.5 11.9 13.6 23 25.5 25.5 c 19.3 4.1 39.4 -14.2 37.4 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 951 801.5 c -15.1 5 -25.3 21.6 -22.2 36.2 c 2.5 11.9 13.6 23 25.5 25.5 c 19.3 4.1 39.4 -14.2 37.4 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1079 801.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1207 801.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 55 929.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 183 929.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 311 929.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -2.5 11.7 3.2 24.4 14.2 31.9 c 10.7 7.4 22.9 7.5 33.7 0.3 c 17.7 -11.8 20.1 -33.8 5.3 -48.5 c -8.5 -8.6 -20.7 -11.9 -31 -8.5 Z M 439 929.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -2.5 11.7 3.2 24.4 14.2 31.9 c 10.7 7.4 22.9 7.5 33.7 0.3 c 17.7 -11.8 20.1 -33.8 5.3 -48.5 c -8.5 -8.6 -20.7 -11.9 -31 -8.5 Z M 567 929.5 c -15.1 5 -25.3 21.6 -22.2 36.2 c 2.5 11.9 13.6 23 25.5 25.5 c 19.3 4.1 39.4 -14.2 37.4 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 695 929.5 c -15.1 5 -25.3 21.6 -22.2 36.2 c 2.5 11.9 13.6 23 25.5 25.5 c 19.3 4.1 39.4 -14.2 37.4 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 823 929.5 c -15.1 5 -25.3 21.6 -22.2 36.2 c 2.5 11.9 13.6 23 25.5 25.5 c 19.3 4.1 39.4 -14.2 37.4 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 951 929.5 c -15.1 5 -25.3 21.6 -22.2 36.2 c 2.5 11.9 13.6 23 25.5 25.5 c 19.3 4.1 39.4 -14.2 37.4 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1079 929.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1207 929.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 55 1057.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 183 1057.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 311 1057.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -2.5 11.7 3.2 24.4 14.2 31.9 c 10.7 7.4 22.9 7.5 33.7 0.3 c 17.7 -11.8 20.1 -33.8 5.3 -48.5 c -8.5 -8.6 -20.7 -11.9 -31 -8.5 Z M 439 1057.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -2.5 11.7 3.2 24.4 14.2 31.9 c 10.7 7.4 22.9 7.5 33.7 0.3 c 17.7 -11.8 20.1 -33.8 5.3 -48.5 c -8.5 -8.6 -20.7 -11.9 -31 -8.5 Z M 567 1057.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 695 1057.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 823 1057.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 951 1057.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1079 1057.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1207 1057.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 55 1185.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 183 1185.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 311 1185.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 439 1185.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 567 1185.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 695 1185.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 823 1185.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 951 1185.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1079 1185.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z M 1207 1185.5 c -10.5 3.5 -20 14.1 -22.2 24.8 c -4.3 20.6 16.3 41.2 36.9 36.9 c 15.5 -3.2 27.5 -19 26 -33.9 c -1.1 -10.5 -9 -21.3 -19 -26.2 c -6.1 -2.9 -15.5 -3.6 -21.7 -1.6 Z");
}




/*STEPS*/






.steps__img--wrapper {
    width: 50%;
    display: flex;
    position: relative;
}

.steps__img {
    z-index: 2;
}

.steps__text {
    width: 50%;
    padding: 32px 0;
    padding-left: 64px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.steps__grid {
    position: absolute;
    opacity: 0.15;
    right: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    fill: rgba(100, 21, 255);
    z-index: 1;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}





/*VALUES*/



.values__text {
    width: 50%;
}

.values__img--wrapper {
    width: 50%;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

.values__list {
    display: flex;
}

.value {
    margin-top: 32px;
    margin-right: 32px;
}

.value__title {
    display: flex;

}

.value__img {
    width: 20px;
    height: 20px;
}

.value__img--wrapper {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}

.values__btn {
    margin-top: 48px;
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
}

.values__btn:hover {
    background-color: rgb(60, 13, 153);
}



/*PRICING*/



#pricing .section__para {
    text-align: center;
}

.pricing__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__plans {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}

.plan {
    width: 100%;
    max-width: 384px;
    margin: 64px 32px 0 0;
    padding-top: 8px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: relative;
    z-index: 100;
    background: #fff;
}

.plan__price, .plan__info, .plan__btn {
    padding: 32px;
    text-align: center;
}

.plan__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .pricing__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) .plan__stripe {
    visibility: hidden;
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .pricing__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__name {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.625;
    color: #1a202c;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
    font-weight: bold;
    line-height: 1.625;
    color: #1a202c;
}

.plan__length {
    color: #a0aec0;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1.625;
}

.plan:nth-child(odd) .plan__info {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan:nth-child(2) .plan__info {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan__audience {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan:nth-child(odd) .plan__audience {
    color: #1a202c;
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, .plan:nth-child(2) .plan__audience, .plan:nth-child(2) .plan__length, .plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plan__btn {
    padding: 32px 96px;
}

.plan:nth-child(2) .pricing__btn {
    color: #6415ff;
    background-color: #f7fafc;
}

.pricing__btn {
    text-align: center;
    padding: 16px 32px;
    border-radius: 500px;
    border: none;
    font-size: 14px;
    width: 100%;
    max-width: 192px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;
    transition: all 300ms;
}

.pricing__btn:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;    
}

@media (max-width: 1280px) {
    .plan__bottom {
        padding: 32px 64px;
    }
}

.plans__blob {
    z-index: -10;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}

svg[Attributes Style] {
    width: 600;
    height: 600;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

g[Attributes Style] {
    transform: translate(300, 300);
}

path[Attributes Style] {
    d: path("M 82 -98.3 C 129.8 -57.7 208.2 -54.1 229.6 -26.6 C 251.1 1 215.6 52.5 172.9 74.9 C 130.2 97.2 80.3 90.4 37.8 107.5 C -4.8 124.7 -40 165.7 -63.3 162.3 C -86.5 158.8 -97.8 110.9 -109.3 72.2 C -120.7 33.5 -132.2 4.1 -140.1 -37.4 C -147.9 -79 -152.1 -132.6 -128.1 -177.3 C -104.1 -222.1 -52.1 -258 -17.5 -237.2 C 17.1 -216.4 34.3 -138.9 82 -98.3 Z");
    fill: rgb(255, 180, 188);
}

/*:not(svg) {
    transform-origin: 0px 0px;
}
*/




/*TESTIMONIALS*/




#testimonials .row {
    display: flex;
}

@media (max-width: 1280px) {
    .test__img {
        width: 41.6667%;
    }
}

.test__img, .test__text {
    width: 50%;
}

.test__text {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.test__rating i {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
}

.test__rating--title, .user__name {
    font-weight: 700;
    color: #243e63;
    font-size: 20px;
    line-height: 1.5;
}

.test__rating--title {
    margin-top: 16px;
}

.test__rating--para {
    margin: 16px 0px 40px 0;
    color: #4a5568;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
}

.user__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.test__bottom {
    display: flex;
    justify-content: space-between;
}

.test__user {
    display: flex;
    align-items: center;
}

.user__info {
    margin-left: 24px;
}

.user__title {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.test__buttons {
    display: flex;
    align-items: center;
}

.test__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms;
}

.test__button:hover {
    background-color: rgba(226, 232, 240);
}

svg[Attributes Style] {
    fill: none;
    stroke: rgb(100, 21, 255);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
}

.test__button svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
    height: 18px;
    width: 18px;
}

.divider {
    width: 1px;
    height: 24px;
    background: rgb(229, 231, 235);
}





/*START*/




.start__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    padding: 96px 0;
}

#start .row {
    position: relative;
    overflow: hidden;
}

.start__title {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    width: 50%;
    z-index: 2;
}

.start__btn {
    font-size: 16px;
    font-weight: bold;
    border-radius: 500px;
    padding: 20px 40px;
    margin: 8px;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025em;
    transition: all 300ms;
}

.start__btn:nth-child(1) {
    background-color: #f56565;
}

.start__btn:nth-child(1):hover {
    background-color: rgba(229, 62, 62);
}

.start__btn:nth-child(2) {
    background-color: rgb(100, 21, 255);
    border: 1px solid rgb(160, 174, 192);
}

.start__btn:nth-child(2):hover {
    background-color:  #f7fafc;
    color: rgb(100, 21, 255);
}

.start__blob--1 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-80px) translateY(128px) scaleX(1) scaleY(1);
    width: 320px;
    height: 320px;
    z-index: 1;
    opacity: 0.5;
}

.start__blob--2 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(80px) translateY(-256px);
    width: 320px;
    height: 320px;
    z-index: 1;
    opacity: 0.5;
}




/*FOOTER*/




footer {
    background-color: rgb(100, 21, 255);
    padding: 96px 32px;
    position: relative;
    overflow: hidden;
}

.footer__row--column {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
    max-width: 48px 0 0;
    z-index: 2;
}

.footer__column--title {
    color: #f7fafc;
    margin: 0 0 12px;
}

.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    font-weight: 500;
    margin-top: 12px;
    border-bottom: 2px solid transparent;
    transition: 300ms ease;
}

.footer__column--link:hover {
    text-decoration: underline;
    color: #f7fafc;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background-color: rgb(116, 44, 255);
}

.footer__img {
    width: 32px;
    height: 32px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--title {
    color: #f7fafc;
    font-weight: bold;
    font-size: 20px;
    margin-left: 8px;
}

.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

.footer__blob--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    transform: translateX(-80px) translateY(-128px);
    z-index: 1;
    opacity: 0.5;
}

.footer__blob--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 320px;
    transform: translateX(128px) translateY(192px);
    z-index: 1;
    opacity: 0.5;
}

.footer__socials {
    z-index: 2;
}

.footer__social--link {
    font: 16px;
    margin: 0 0 0 16px;
    padding: 8px;
    border-radius: 50%;
    color: #243e63;
    background-color: #f7fafc;
    cursor: pointer;
} 

.footer__social--link:hover {
    background-color: rgba (203, 213, 224);
}

.footer__social--link  svg {
    width: 16px;
    height: 16px;
}